.hero {
    align-items: center;
    background-color: var(--mainBlack);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    text-align: center;
    width: 100%;
    .particle{
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 500;
    }
    .text-title{
        color: var(--primaryColor);
        font-size: 50px;
        position: absolute;
        // text-shadow: 1px 1px var(--mainGrey);
        padding-bottom: 200px;
    }
    .typed{
        color: white;
        font-size: 25px;
        font-weight: bold;
        padding-top: 80px;
        position: absolute;
    }
    .social-icons {
        position: absolute;
        padding-top: 300px;
        z-index: 1000;
        a{ 
            color:white;
            display: inline-block;
            font-size: 50px;   
            padding: 0 30px;
            text-decoration: none;
        }
        a:hover{
            color: var(--primaryColor);
            transform: scale(1.1);
        }
    }
}

