.hero {
    background: url('./hero.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    text-align: center;
    .text-title{
        color: var(--primaryColor);
        font-size: 50px;
        text-shadow: 2px 2px var(--darkGrey);
    }
    .typed{
        color: var(--mainBlack);
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 50px;
    }
    .social-icons {
        a{ 
            color: var(--mainBlack);
            display: inline-block;
            font-size: 50px;   
            padding: 0 30px;
            text-decoration: none;
        }
        a:hover{
            color: var(--primaryColor);
        }
    }
}

