#skills {
  width: 100%;
  background-color: var(--mainGrey);

  .heading {
    font-size: 20px;
    position: relative !important;
    h1 {
      text-align: center;
      margin: 0;
      padding: 20px 0;
    }
    p {
      display: block;
      margin: 10px auto;
      width: 60%;
      line-height: 40px;
      @media (max-width: 414px) {
        font-size: 15px;
      }
    }
  }
  .skills-icons {
    text-align: center;
    .icon {
      font-size: 50px;
      padding: 20px 30px;
      &:hover {
        transform: scale(1.2);
      }
    }
    .tooltip {
      visibility: hidden;
    }
  }
}
