#skills {
  // background: var(--mainGrey);
  text-align: center;
  width: 100vw;
  .heading {
    font-size: 20px;
    h1 {
      margin: 0;
      padding: 20px 0;
    }
    .card-container {
      display: flex;
      justify-content: space-around;
      .card {
        background-color: var(--mainGrey);
        padding: 10px;
        width: 23%;
        &:hover {
          box-shadow: 5px 5px 2px var(--darkGrey);
          transform: scale(1.05);
        }
        h4 {
          text-transform: capitalize;
        }
        p {
          font-size: 17px;
          font-weight: 300;
        }
      }
      @media (max-width: 414px) {
        .card {
          h4 {
            font-size: 13px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }

  .quote {
    font-size: 20px;
    padding-top: 20px;
  }

  .skills-icons {
    text-align: center;
    .icon {
      font-size: 40px;
      padding: 20px 30px;
      &:hover {
        transform: scale(1.2);
      }
    }
    .tooltip {
      visibility: hidden;
    }
  }
  hr {
    width: 50%;
  }
}
