#footer{
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    .text-title{
        margin: 0;
    }
    .code-link{
        padding-top: 5px;
    }
    a{
        text-decoration: none;
        color: var(--mainBlack);
      
        &:hover{
            color: var(--primaryColor);
      }
    }
}