@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
:root {
  --primaryColor: rgb(25, 195, 238);
  --mainGrey: #ededed;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  80% {
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes topIn {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes shine {
  from {
    mask-position: 150%;
  }
  to {
    mask-position: -50%;
  }
}
